<div class="container-fluid">
    <div id="header">
        欢迎使用商品管理系统
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thread>
                <tr>
                    <th>编号</th>
                    <th>商品名称</th>
                    <th>商品价格</th>
                    <th>操作</th>
                </tr>
            </thread>
            <tbody>
            <tr ng-repeat="ar in arrs">
                <td><input type="checkbox" ng-model="ar.isChecked">{{$index+1}}</td>
                <td>{{ar.name}}</td>
                <td>{{ar.price}}</td>
                <td>
                    <a ng-click="updata($index)" href="javascript:void(0)" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span>&nbsp;修改</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a ng-click="delete($index)" href="javascript:void(0)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;删除</a>


                    <div class="modal" id="modal-data1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">编辑商品</h4>
                                </div>
                                <div class="modal-body">
                                    <span><b>商品名称：</b></span>
                                    <input type="text" class="form-control input-lg" ng-model="prod.name" value="{{prod.name}}">
                                    <span><strong>商品价格：</strong></span>
                                    <input type="text" class="form-control input-lg" ng-model="prod.price" value="{{prod.price}}">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>&nbsp;关闭</button>
                                    <button type="button" class="btn btn-success" ng-click="save()"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;保存</button>
                                </div>
                            </div>
                        </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <button class="btn btn-sm btn-success"data-toggle="modal" data-target="#modal-data2"><span class="glyphicon glyphicon-plus"></span>&nbsp;添加</button>
    <button class="btn btn-sm btn-danger" ng-click="allDel()"><span class="glyphicon glyphicon-remove"></span>&nbsp;批量删除</button>
    <div class="modal" id="modal-data2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">添加商品</h4>
                </div>
                <div class="modal-body">
                    <span><b>商品名称：</b></span>
                    <input type="text" class="form-control input-lg" ng-model="newName" placeholder="请添加商品名称" >
                    <span><strong>商品价格：</strong></span>
                    <input type="text" class="form-control input-lg" ng-model="newPrice" placeholder="请添加商品价格" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>&nbsp;关闭</button>
                    <button type="button" class="btn btn-success" ng-click="add()"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;保存</button>
                </div>
            </div>
        </div>
    </div>
    <p></p>